
html, body {
    font-family: 'Prompt', sans-serif;
    margin: 0;
}

.content {
    text-align: center;
} 
.content-r {
    text-align: right;
} 

.content-l {
    text-align: left;
} 

.set-font{
    color: #000000;
    font-size: 20px;
}

 /* Class btn in images display */
 .text-image {
    position: relative;
    text-align: center;
    color: blue;

  }
  .centered-articleForHealth {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  .centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .btn-image
  {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    margin: 4px 2px;
  }

  #icon-forHelath {

    background: white url(Images_inView/magnifying-glass.png) no-repeat;
    position: relative;
    background-size: 3%;
    background-position-x: 97%;
    background-position-y: 50%;
    width: 700px;
}
#icon{

    background: white url(Images_inView/magnifying-glass.png) no-repeat;
    position: relative;
    background-size: 3%;
    background-position-x: 97%;
    background-position-y: 50%;

}

/* หัวบนสุดของ header*/

.set-head{
    text-align: center;
    background-color: #D3D3D3;
}

.set-background-head{
    background-color:skyblue;
    padding:0px;
}


/* carousel */
