html, body {
    font-family: 'Prompt', sans-serif;
    margin: 0;
}

/* หน้าค้นหา */

.custom-search-input {
    margin:0;
    margin-top: 10px;
    padding: 0;
}

.custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#D9230F;
}

.search-query:focus + button {
    z-index: 3;
}

.content-c {
    text-align: center;
}
.content-r {
    text-align: right;
}
/* font */
.set-font{
    color: #000000;
    font-size: 25px;
}
.set-font1{
    color: #004F67;
    font-size: 35px;
    text-shadow: 1px 1px 3px #000000;
}

.font-size{
    font-size: 18px;
}
.font-size2{
    font-size: 18px;
    color: #4db2f9;
}
.font-size3{
    font-size: 12px;
}
.font-size4{
    font-size: 25px;
    color: #32a4f8;
}



 /* Class btn in images display */
 .text-image {
    position: relative;
    text-align: center;
    color: blue;

  }
  .centered-articleForHealth {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .btn-image
  {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    margin: 4px 2px;
  }

  #icon-forHelath {

    background: white url(storage/Images_inView/magnifying-glass.png) no-repeat;
    position: relative;
    background-size: 3%;
    background-position-x: 97%;
    background-position-y: 50%;
    width: 700px;
}
#icon{

    background: white url(storage/Images_inView/magnifying-glass.png) no-repeat;
    position: relative;
    background-size: 3%;
    background-position-x: 97%;
    background-position-y: 50%;

}

/* หัวบนสุดของ header*/

.set-head{
    text-align: center;
    background-color: #D3D3D3;
}

.set-background-head{
    background-color:skyblue;
    padding:0px;
}
/* ล่างสุดของ header*/

.set-footer{
    text-align: left;
    background-color: #D3D3D3;
}


/* carousel */
.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  section {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .lnr {
    display: inline-block;
    fill: currentColor;
    width: 1em;
    height: 1em;
    vertical-align: -0.05em;
    stroke-width: 1;
  }

  .services-icon {
    margin-bottom: 20px;
    font-size: 30px;
  }
  bgc2, .vLine, .hLine {
      background-color: #0F52BA;
  }

  .quote-icon {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .services-icon {
      font-size: 60px;
      margin-left: 2rem;
  }

  /*  */
  .carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}
/* The controlsy */
.carousel-control {
	left: -12px;
    height: 40px;
	width: 40px;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    margin-top: 90px;
}
.carousel-control.right {
	right: -12px;
}
/* The indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: -10px;
	margin-right: -19px;
}

/* The colour of the indicators */
.carousel-indicators li {
	background: #cecece;
}
.carousel-indicators .active {
background: #428bca;
}


/* Image */
.padding{
    padding-right: 0px;
    padding-left: 0px;
}
.img-center{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
}





 /* search */
 .search-size {
    width: 50%;
    margin: 50px auto;
}
.btn-success {
    font-size: 20px;
    color: black;
    letter-spacing: 10px;
    line-height: 30px;
    border:3px #79dea8;
    border-radius: 40px;
    background: #79dea8;

  }

  .btn-success:hover {
    background: #79dea8;
    border: 3px #79dea8;
  }


/* map */
.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
.map-container iframe{
    left:0;
    top:0;
    height:70%;
    width:70%;
    position:absolute;
    }

/* หน้าค้นหาโรงพยาบาล ส่วนท้ายสุด  */

#textshadow{
    text-shadow: 2px 1px grey;
}
.hover01 figure:hover img {
    opacity: 1;
    -webkit-animation: flash 1.5s;
    animation: flash 1.5s;
}

@-webkit-keyframes flash {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}
@keyframes flash {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}

figure {
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
}
figure:hover+span {
    opacity: 1;
}

.product-img {
    float: left;
}

  .product-img img {
    border-radius: 7px 0 0 7px;
  }

  .product-info {
    float: left;
    height: 130px;
    width: 250px;
    border-radius: 0 10px 10px 0px;
    background-color: #ffffff;

  }
  /* google map */
  .map-container{
    overflow:hidden;
    padding-bottom:56%;
    position:relative;
    height:0;
    }
    .map-container iframe{
    left:10%;
    right:0%;
    top:0;
    height:70%;
    width:80%;
    position:absolute;
    }

/* card */
.card-style-1{
    padding-left: 0%;
    padding-right: 0%;
}

/* login */
.firma-card{
    background: #fff;
    border: 1px solid;
    border-color: #c7bdbd40;
    margin: 1rem auto;
    border-radius: 20px;
    box-shadow: 0 4px 6px -1px rgb(198, 207, 234);
    margin-bottom: 1.6%;
    overflow: hidden;
  }
  .firma-resim{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: -webkit-transform .2s;
    transition: transform .2s;
  }

  @media (max-width: 768px) {

    .firma-logo{
          width: calc(33.66667% - .75rem);
          height:10rem;
          margin: 5px .375rem;
    }
    .firma-resim {
      position: relative;
      z-index: 0;
      height: 200px;
    }
    .img-padding-no{
      padding-right: 0px;
      padding-left: 0px;
    }
  }

  /*  bottom */
  .bottom-submit{
    height:40px;
    width:50px;
    color:white;
    background-color:#FF9800;
  }

